//Font
$semibold: 600;
$regular: 400;

//--Family
$font-primary: "Montserrat", sans-serif;

//--Size
$small-size: 2.2rem;
$medium-size: 2.4rem;
$regular-size: 2rem;
$title: 4rem;


//Colors
$snow: #ffffff

